@import "tailwindcss";
:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f6fa;
  font-family:  -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", Inter, sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 700;
}
